* {
	margin:0;
	padding:0;
}

body{
	font-family: "Arial", cursive, serif;
	background: url(Stylesheets/cubes2.png);
	background-repeat: repeat;
}

header {
	background-color: #ff8700;
}

/* The naviagtion bar */ 
header nav {
	width: 100%;
	height: 43.5px;
	position: relative;
	z-index: 2;
}

header nav ul {
	float: left;
	width: 100%;
	
}

header nav ul  li {
	float: left;
	list-style: none;
	position: relative;
	width:calc(100%/4);
}


header nav ul  li ul li {
	width:100%;
}

/*  Links in the navigation bar */
header nav ul li a {
	display: block;
	font-family: sans-serif;
	font-size: 20px;
	color: black;
	padding: 10px 0px; 
	text-decoration: none;
	text-align: center;
	width: 100%;
	
}

header nav ul li ul {
	display: none;
	position: absolute;
	background-color:#ff8700;
	padding: 0px;
	width: relative;
}

header nav li:hover > ul  {
	display: block;
	border-radius: 0px 0px 8px 8px;
	box-shadow: 5px 5px 20px grey;
}

header nav li:hover > ul li:hover > ul{
	display: block;
	border-radius: 0px 8px 8px 8px;
}

header nav ul ul ul {
	left:100%;
	top: 0;
}


header nav ul li ul li a {
	padding: 10px 0px;
}


/* When hovering a tab */
header nav ul li a:hover {
	background-color: #8b4a00;
	padding-top: 10px;
	border-top: 0px solid #ff8700;
	overflow: hidden;
	color: white;
	border-radius: 8px;

}


/* Footer */

/*footer {
	width: 100%;
	background-color: #222;
	padding: 60px 0px;
}*/

/* UCL Image Hyperlink */

#banner {
	width: 100%;
	position: relative;
}

#UCLHome {
	height: 24%;
	width: 3%;
	position: absolute;
	left: 70%;
	top: 48%;
}

/*Quiz*/

#totalcorrect, #TimedQuestion, #Finish, #Reset {
	visibility: hidden;
}


h1{
  border-bottom: solid;
  border-color: grey;
  border-width: 1px;
  padding-bottom: 5px;
  color: black;
  width: 800px;
  margin: 10px auto;
  padding-left: 0;
}

#background {
  padding: 0px 10px;
  background-color: white;
  width: 850px;
  margin: 0 auto;
}

.centredtext{
    display: block;
    text-align: justify;
    height: auto;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 0px;
}

.mat_text{
  font-family: "Courier New", Courier, monospace;
}

hr {
  color: grey;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  padding-top: 7px;
}

article{
  width:800px;
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0px 0px 10px 10px;
}

article li {
  display: list-item;
  list-style-position: inside;
  padding: 2px 0px;
  width: 800px;
  margin: 0px auto;
}

.container li {
  display: list-item;
  list-style-position: inside;
  padding: 2px 0px;
  width: 800px;
  margin: 0px auto;
}

h3{
  width: 800px;
  margin:0 auto;
  padding: 10px 0;
}

h2{
	text-decoration: underline;
	padding: 10px 0;	
	width: 800px;
	margin: 0 auto;
}

p{
	padding: 2px 0px;
  line-height: 0.65cm;
	
}

#map{
  width: 800px;
  padding: 20px 0;
  display: block;
}



/* Videos
----------------------------------------------------------------------------- */

.video{
	float: left;
	padding-right: 15px;
	padding-bottom: 15px;
}

.videotitle{
	font-family: "Arial", cursive, serif;
	clear: both;
	border: 1px #CDCDCD solid;
	margin-bottom: 10px;
	padding: 5px;
}


/* FAQ
----------------------------------------------------------------------------- */

.collapsible {
  cursor: pointer;
  padding: 18px;
  font-size: 15px;
  line-height: 0.1cm;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #ff8700;
  width: 800px;
  margin: 4px auto;
  color: white;
  text-align: justify;
  display: block;
}

.active, .collapsible:hover {
  background-color: #8b4a00;
  color: white;
}

.content {
  padding: 0 0px;
  overflow: hidden;
  background-color: white;
  text-align: justify;
  margin: 0 auto;
  width: 800px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  float: right;
  margin-left: 5px;
  color: white;
}

.active:after {
  color: white;
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.collapsible:hover:after{
	color: white;
}

/* Hangman
----------------------------------------------------------------------------- */


#hangman{
  width: 270px;
  height: 540px;
  float: right;
  margin: 10px;
  border-color: black; 
  border-width: 2px;
  border-style: solid;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

@media (max-width: 1200px) {
    #hangman {
        display: none;
    }
    #main {
      margin: 0 auto;
    }
}


/* Footer
----------------------------------------------------------------------------- */


footer {
  clear: both;
  width: 100%;
  padding: 40px 0px;
  background-image: url("Images/ucle.png");
  background-repeat: no-repeat;
  background-size: 250px;
  background-color: #262525;
  background-position: right;
  min-width: 200px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  min-width:600px;
}

footer nav {
  float: left;  
}

footer nav ul {
  padding-left: 0px;
}

footer nav ul li {
  display: inline-block;
  margin-left: 20px;
  padding: 0px 0px 0px 0px;
  list-style: none;
}

footer nav ul li a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
}









