* {
	margin:0;
	padding:0;
}

header {
	background-color: #a4dbe8;
}

/* The naviagtion bar */ 
header nav {
	width: 100%;
	height: 43.5px;
}

header nav ul {
	float: left;
}

header nav ul li {
	float: left;
	list-style: none;
	position: relative;

}

/*  Links in the navigation bar */
header nav ul li a {
	display: block;
	font-family: sans-serif;
	font-size: 20px;
	color: black;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	text-align: center;
	width: 200px;
	border: 0 2px;
}

header nav ul li ul {
	display: none;
	position: absolute;
	background-color:#a4dbe8;;
	padding: 0px;
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
}

header nav ul li:hover ul  {
	display: block;
}

header nav ul li ul li {
	width:180px;
	border-radius: 0px 0px 0px 0px;
}

header nav ul li ul li.last {
	width:180px;
	border-radius: 0px 0px 4px 4px;
	overflow: hidden;
}

header nav ul li ul li a {
	padding: 10px 10px
}



/* When hovering a tab */
header nav ul li a:hover {
	background-color: #0097a9;
	padding-top: 8px;
	border-top: 2px solid #a4dbe8;
	overflow: hidden;
	color: white;

}

header nav ul li ul li a:hover {
	background-color: #0097a9;
	border: none;
	padding-top: 10px;
	overflow: hidden;
}


/* Selected tab */
header nav ul li .selected {
	overflow: hidden;
	background-color: #0097a9;
	pointer-events: none;
	padding-top: 8px;
	border-top: 2px solid #a4dbe8;
}

header nav ul li ul li .selected {
	overflow: hidden;
	background-color: #0097a9;
	pointer-events: none;
	border-radius: 0px;
	padding-top: 10px;
	border-top: none;


}

header nav ul li ul li .selectedend {
	overflow: hidden;
	background-color: #0097a9;
	pointer-events: none;
	border-radius: 0px 0px 4px 4px;
}


/* Footer */

footer {
	width: 100%;
	background-color: #222;
	padding: 60px 0px;
}

/* UCL Image Hyperlink */

#banner {
	width: 100%;
	position: relative;
}

#UCLHome {
	height: 24%;
	width: 3%;
	position: absolute;
	left: 70%;
	top: 48%
}

/*Quiz*/

#totalcorrect {
	visibility: hidden;
}

#TimedQuestion{
	visibility: hidden;
}



