files:
    "/etc/httpd/conf.d/vhost.conf":
        mode: "000644"
        owner: root
        group: root
        encoding: plain
        content: |
            ServerName porticast.co.uk
            ServerAdmin mecheng@ucl.co.uk

            # Redirects .com to .co.uk, and forces www.
            RewriteCond %{HTTP_HOST} ^(.*)porticast.com [NC]
            RewriteRule ^(.*)$ https://www.porticast.co.uk/$1 [L,R=301]
            RewriteCond %{HTTP_HOST} ^porticast.co.uk [NC]
            RewriteRule ^(.*)$ https://www.porticast.co.uk/$1 [L,R=301]

            # Force onto SSL
            RewriteEngine On
            RewriteCond %{HTTP:X-Forwarded-Proto} !https
            RewriteCond %{HTTP_USER_AGENT} !ELB-HealthChecker
            RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
            
            # No content should be loaded from this folder
            <Directory "/var/www/html/.ebextensions">
                AllowOverride None
                Require all denied
            </Directory>
            
            <Files ".ht*">
                AllowOverride None
                Require all denied
            </Files>
            <Files "config.php">
                AllowOverride None
                Require all denied
            </Files>

            # Prevents site running in frame; stops clickjacking
            Header always append X-Frame-Options DENY

            # For below; see
            # https://github.com/gregrickaby/The-Perfect-Apache-Configuration/blob/master/http.conf

            # Block access to backup and source files (Security)
            # This files may be left by some text/html editors and pose a great security danger
            <FilesMatch "(\.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$">
                Order allow,deny
                Deny from all
                Satisfy All
            </FilesMatch>

            # Disable directory browsing (Security)
            <IfModule mod_autoindex.c>
                Options -Indexes
            </IfModule>

            # Disable server signature (Security)
            # Configures the Server HTTP response header
            ServerSignature Off
            ServerTokens Prod

            # Simplify 400 error pages, so that input isnt returned and nothing helpful is left
            ErrorDocument 404 "Page or resource not found"
            ErrorDocument 403 "Page or resource not found"