h1{
  border-bottom: solid;
  border-color: grey;
  border-width: 1px;
  padding-bottom: 5px;
  color: black;
  width: 800px;
  margin: 10px auto;
  padding-left: 0;
}

h3{
	color: black;
	margin: 0 auto;
	width: 800px;
	padding: 10px 0;
	clear: both;
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  font-size: 15px;
  line-height: 0.1cm;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #500778;
  width: 800px;
  margin: 4px auto;
  color: white;
  text-align: justify;
  display: block;
}

.active, .collapsible:hover {
  background-color: #a4dbe8;
  color: black;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: white;
  text-align: justify;
  margin: 0 auto;
  width: 800px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  float: right;
  margin-left: 5px;
  color: white;
}

.active:after {
  color: black;
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.collapsible:hover:after{
	color: black;
}