h1{
	text-decoration: underline;
	width: 800px;
	margin: 0 auto;
	border-bottom: solid;
	border-color: grey;
	border-width: 1px;
	padding-bottom: 5px;
	text-align: left;
}

h3{
	color: black;
	margin: 0 auto;
	width: 800px;
	padding: 10px 0;
}

p{
	line-height: 0.8cm;
	border-color: grey;
	border-width: 1px;
	border-style: solid;
	width: 800px;
	margin: 4px auto;
}