h1{
	border-bottom: solid;
	border-color: grey;
	border-width: 1px;
	padding-bottom: 5px;
	color: black;
	width: 800px;
	margin: 10px auto;
	padding-left: 0;
}

h2{
	text-decoration: underline;
	padding: 10px 0;	
	width: 800px;
	margin: 0 auto;
}

h3{
	padding: 10px 0px;
	width: 800px;
	margin: 0 auto;
}

.content li {
  display: list-item;
  list-style-position: inside;
  padding: 2px 0px;
  width: 800px;
  margin: 0px auto;
}

.content p{
	padding: 2px 0px;
	width: 800px;
	margin: 0px auto;
}

.pic{
	width: 300px;
	display: block;
	margin: 0 auto;
}