



/* Footer */
footer {
	width: 100%;
	padding: 40px 0px;
	background-image: url("../Images/ucle.png");
	background-repeat: no-repeat;
	background-size: 250px;
	background-color: #262525;
	background-position: right;
	min-width: 200px;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	min-width:600px;
}

footer nav {
	float: left;	
}

footer nav ul {
	padding-left: 0px;
}

footer nav ul li {
	display: inline-block;
	margin-left: 20px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

footer nav ul li a{
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}


#banner {
	width: 100%;
	position: relative;
}

#UCLHome {
	height: 24%;
	width: 3%;
	position: absolute;
	left: 70%;
	top: 48%
}
