h1{
    border-bottom: solid;
    border-color: grey;
    border-width: 1px;
    padding-bottom: 5px;
    color: black;
    width: 800px;
    margin: 10px auto;
    padding-left: 0;
}

#intro{
	width: 800px;
	margin-right: auto;
	margin-left:auto;
	text-align: justify; 
}

.text{
	color: black;
	font-family: "Arial", cursive, serif;
}

#catia {
    width: 800px;
    padding: 10px;
    overflow: hidden;
  	margin-right: auto;
	margin-left:auto;
}

#catia img {
    margin-right: 15px;
    float: left;
}

#catia p{
	margin-top: 50px;
    margin-left: 15px;
    display: block;
    text-align: justify; 
}
    
#matlab {
    width: 800px;
    padding: 10px;
    overflow: hidden;
	margin-right: auto;
	margin-left:auto;
}

#matlab img {
    margin-left: 15px;
    float: right;
}

#matlab p{
	margin-top: 100px;
    margin-right: 15px;
    display: block;
    text-align: justify; 
}

#wicklow {
    width: 800px;
    padding: 10px;
    overflow: hidden;
    margin-right: auto;
	margin-left:auto;
}

#wicklow img {
    margin-right: 15px;
    float: left;
}

#wicklow p{
	margin-top: 50px;
    margin-right: 15px;
    display: block;
    text-align: justify; 
}

