h1{
	border-bottom: solid;
	border-color: grey;
	border-width: 1px;
	padding-bottom: 5px;
	color: black;
	width: 800px;
	margin: 10px auto;
	padding-left: 0;
	font-family: "Arial", cursive, serif;
}

h3{
	font-family: "Arial", cursive, serif;
	width: 800px;
	margin: 0 auto;
	color: black;
}

.row {
    width: 800px;
    padding: 10px 0;
    overflow: hidden;
  	margin: 0 auto;
}

.row img {
    margin-right: 50px;
    float: left;
}

.row p{
	margin-top: 10px;
    display: block;
    text-align: center; 
}

.column {
  float: left;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row2 {
  width: 800px;
  padding: 10px 0;
  overflow: hidden;
  margin: 0 auto;
}

#Tom{
	margin-left:60px;
  display: block;
  text-align: center; 
}

#Tim{
	margin-left: 190px;
  display: block;
  text-align: center; 
}

#Neila{
	margin-left: 150px;
  display: block;
  text-align: center; 
}

#James{
	margin-left: 55px;
  display: block;
  text-align: center; 
}

#Phil{
	margin-left: 165px;
  display: block;
  text-align: center; 
}

#Peter{
	margin-left: 170px;
  display: block;
  text-align: center; 
}

.name {
  float: left;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row2::after {
  content: "";
  clear: both;
  display: table;
}

.headers{
  border-top: solid;
  border-color: grey;
  border-width: 1px;
  padding-top: 7px;
  padding-left: 0;
}

#map{
	width: 800px;
	padding: 20px 0 0 0;
	display: block;
}

.text{
  width: 800px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: justify;
  font-family: "Arial", cursive, serif;

}

body { 
    background: url(test.svg) repeat 0 0;
    /*background-color: #500778;*/
}

#main{
    clear: all;
    background-color: white;
    width: 810px;
    margin: 0 auto 0 400px;
    font-family: "Arial", cursive, serif;
}

#hangman{
  width: 300px;
  height: 600px;
  float: left;
  margin: 10px;
  border-color: black; 
  border-width: 2px;
  border-style: solid;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

@media (max-width: 1200px) {
    #hangman {
        display: none;
    }
    #main {
      margin: 0 auto;
    }
}